.checkout-form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

//General
.checkout-group-general {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60rem;
}   
.checkout-group-general input {
    width: 25rem;
    border: none;
    border-bottom: 1px solid grey;
    margin-top:15px;
}
//Shipping
.checkout-group-shipping {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
    height: 25rem;
    
}

.checkout-group-shipping input{
    width: 17rem;
    border: none;
    border-bottom: 1px solid grey;
    margin-top: 15px;
    width: 25rem;
}

.checkout-group-shipping input::placeholder {
    color: #999999 !important;
    font-size: 13px;
    margin-left: 0;
    
} 

//Credit Card
.checkout-group-cc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
}

.checkout-group-cc {
    
}

.checkout-group-phone {
display: flex;
}

input:focus {
    outline: none;
  }


// .checkout-group-shipping,
// .checkout-group-cc {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }

// .checkout-group-shipping input,
// .checkout-group-cc input {
//   flex: 1 1 200px;
//   margin-right: 10px;
// }

// .checkout-group-phone input {
//   width: 100%;
// }