.home {
    display: flex;
    font-family: 'Big Caslon', sans-serif;
    font-size: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.product-search-bar {
    width: 100%;
    margin: 10px 20px 10px 20px;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
}

.productCard {
    margin: 25px 25px 25px 25px;
}