.home {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Big Caslon', sans-serif;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.productCard {
    margin: 20px 20px 20px 20px;
}