img {
    width: 100%;
    height: auto;
}

.back-link {
    top: 45px;
    left: 20px;
    padding: 10px;
    color: #000;
    text-decoration: underline;
    margin: 50px 10px 0px 10px;
}
  
.back-link:hover {
    color: #666;
}
  
.back-link:visited {
    color: #000;
}
  


.product-page {
    display: flex;
    flex-wrap: wrap;
}

.product-page-box {
    flex: 1;
}

.product-page-section {
  display: flex;
  flex-wrap: wrap;
}

.product-image, .product-name, .product-description, .product-price, .product-rating, .product-reviews, .add-to-cart {
    margin: 20px 20px 20px 20px;
    color: @licorice;
}

.add-to-cart {
    width: 200;
    height: 50;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
}

@media (max-width: 750px) {
    .product-page {
      display: flex;
      flex-direction: column;
    }
}

.product-quantity input {
  width: 7ch;
  padding: 5px 10px;
  font-size: 1em;
  margin: 20px 20px 20px 20px;
}