body {
  font-family: verdana;
}
form {
  display: flex;
  flex-direction: column;
}
form > * {
  margin: 1rem;
}
nav {
  display: flex;
  justify-content: space-around;
}
button {
  background-color: #796556;
  color: white;
}
.link {
  color: #0B0C10;
}
a {
  text-decoration: none;
}
.home {
  display: flex;
  flex-wrap: wrap;
}
.productCard {
  margin: 20px 20px 20px 20px;
}
.loginRegister {
  display: flex;
  flex-wrap: wrap;
}
.loginRegisterBox {
  flex: 1;
}
@media (max-width: 600px) {
  .loginRegister {
    display: flex;
    flex-direction: column;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: flex-end;
  font-family: 'Franklin Gothic Medium', sans-serif;
  background-color: #F2F2F2;
  padding: 10px;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  margin-left: 10px;
}
.nav-link-container {
  display: flex;
}
.nav-link-container > * {
  margin: auto;
}
.nav-link-container a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}
.nav-link-container button {
  background-color: transparent;
  border: none;
  color: #333;
  padding: 5px;
  cursor: pointer;
}
.nav-link-container a:hover,
.nav-link-container button:hover {
  color: #666;
}
.link:hover {
  text-decoration: underline;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.product-name,
.product-description,
.product-price,
.product-rating,
.product-reviews,
.addToCart {
  margin: 20px 20px 20px 20px;
}
