body {
  font-family: verdana;
}
form {
  display: flex;
  flex-direction: column;
}
form > * {
  margin: 1rem;
}
nav {
  display: flex;
  justify-content: space-around;
}
button {
  background-color: #796556;
  color: white;
}
.link {
  color: #0B0C10;
}
a {
  text-decoration: none;
}
.home {
  display: flex;
  font-family: 'Big Caslon', sans-serif;
  font-size: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.product-search-bar {
  width: 100%;
  margin: 10px 20px 10px 20px;
}
.product-cards {
  display: flex;
  flex-wrap: wrap;
}
.productCard {
  margin: 25px 25px 25px 25px;
}
.loginRegister {
  display: flex;
  flex-wrap: wrap;
}
.loginRegisterBox {
  flex: 1;
}
.loginRegisterBox h2 {
  margin-top: 10px;
  padding-left: 10px;
}
.formDivider {
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  border-top: 1px solid #ccc;
  width: 50%;
}
.inputContainer {
  display: flex;
  flex-direction: column;
}
.inputContainer input {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}
.inputContainer button {
  padding: 8px 12px;
  cursor: pointer;
  width: 100px;
}
@media (max-width: 600px) {
  .loginRegister {
    flex-direction: column;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Big Caslon', sans-serif;
  background-color: #9D958F;
  padding: 10px;
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.hamburger-menu div {
  width: 2rem;
  height: 0.25rem;
  background-color: #333;
}
.dropdown-menu {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #9D958F;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}
.dropdown-menu li {
  padding: 10px;
  font-family: 'Big Caslon', sans-serif;
}
.dropdown-menu li a:visited {
  color: #333;
}
.dropdown-menu a:hover,
.dropdown-menu button:hover {
  color: #666;
}
ul.other-ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  margin-left: 10px;
}
.nav-link-container {
  display: flex;
}
.nav-link-container > * {
  margin: auto;
}
.nav-link-container a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  font-size: 20px;
}
.nav-link-container button {
  background-color: transparent;
  border: none;
  color: #333;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Big Caslon', sans-serif;
}
.nav-link-container a:hover,
.nav-link-container button:hover {
  color: #666;
}
.brand-name {
  text-align: center;
  font-family: 'Big Caslon', sans-serif;
  color: #232504;
  font-size: 24px;
  flex-grow: 1;
  text-decoration: underline;
}
.about-us-header {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 4px solid #232504;
  border-bottom: none;
}
.about-us-p {
  margin: 10px auto;
  max-width: 600px;
  text-align: justify;
}
.link:hover {
  text-decoration: underline;
}
img.product-card-image {
  width: 250;
  height: 250;
}
img {
  width: 100%;
  height: auto;
}
.back-link {
  top: 45px;
  left: 20px;
  padding: 10px;
  color: #000;
  text-decoration: underline;
}
.back-link:hover {
  color: #666;
}
.back-link:visited {
  color: #000;
}
.product-page {
  display: flex;
  flex-wrap: wrap;
}
.product-page-box {
  flex: 1;
}
.product-page-section {
  display: flex;
  flex-wrap: wrap;
}
.product-image,
.product-name,
.product-description,
.product-price,
.product-rating,
.product-reviews,
.add-to-cart {
  margin: 20px 20px 20px 20px;
  color: #232504;
}
.add-to-cart {
  width: 200;
  height: 50;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20;
}
@media (max-width: 750px) {
  .product-page {
    display: flex;
    flex-direction: column;
  }
}
.product-quantity input {
  width: 7ch;
  padding: 5px 10px;
  font-size: 1em;
  margin: 20px 20px 20px 20px;
}
.line {
  margin: 20px 20px 20px 20px;
  border-top: 1px solid #9D958F;
}
.line-item-image,
.lineDescription,
.linePrice,
.lineQty,
.lineModify {
  margin: 5px 5px 5px 20px;
}
.line-item-image {
  width: 200px;
  height: 150px;
}
.line-modify-button {
  margin-right: 5px;
}
.shopping-cart-header {
  margin: 20px 20px 20px 40px;
}
.summary {
  margin: 10px 10px 10px 30px;
  border-top: 1px solid #9D958F;
}
.summary-title,
.summaryRow,
.totalRow {
  margin: 10px 10px 10px 10px;
}
.to-checkout-button,
.cart-is-empty {
  margin-left: 40px;
  margin-bottom: 10px;
}
.user-avatar {
  width: 300px;
  height: 300px;
  margin: 10px 10px 10px 10px;
}
.update-info-button {
  width: 150px;
  height: 50px;
  margin: 10px 10px 10px 10px;
}
.my-account-p,
.orderCell {
  margin: 10px 10px 10px 10px;
}
.my-account-header {
  margin: 20px 20px 20px 10px;
}
body {
  font-family: 'Big Caslon', sans-serif;
}
.form-field {
  margin-bottom: 1.5rem;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
input[type="text"],
textarea {
  padding: 0.5rem;
  font-size: 1rem;
}
textarea[name="description"] {
  width: 800px;
  height: 400px;
  resize: none;
}
button {
  margin-top: 1rem;
}
.product-details-container {
  border: 1px solid #ccc;
  padding: 20px;
}
.product-details {
  background-color: #f5f5f5;
  padding: 20px;
}
.product-details .product-description {
  max-width: auto;
}
button[type="submit"] {
  padding: 8px 16px;
  font-size: 14px;
  width: 400px;
}
body {
  font-family: 'Big Caslon', sans-serif;
}
.form-group {
  margin-bottom: 1.5rem;
  padding-left: 20px;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  padding-left: 20px;
}
input[type="text"],
textarea {
  padding: 0.5rem;
  font-size: 1rem;
  padding-left: 20px;
}
button {
  margin-top: 1rem;
}
.user-details-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
  background-color: #ccc;
  padding-left: 20px;
}
button[type="submit"] {
  padding: 8px 16px;
  font-size: 14px;
  width: 400px;
  padding-left: 20px;
}
.admin-container {
  display: flex;
  flex-direction: 'row';
}
.admin-section {
  flex: 1;
  padding: 5px;
}
.admin-product-container {
  border-top: 1px solid #9D958F;
}
.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
.custom-content {
  position: fixed;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 150%;
}
.checkout-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.checkout-group-general {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60rem;
}
.checkout-group-general input {
  width: 25rem;
  border: none;
  border-bottom: 1px solid grey;
  margin-top: 15px;
}
.checkout-group-shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60rem;
  height: 20rem;
}
.checkout-group-shipping input {
  width: 17rem;
  border: none;
  border-bottom: 1px solid grey;
  margin-top: 15px;
  width: 25rem;
}
.checkout-group-shipping input::placeholder {
  color: #999999;
  font-size: 12px;
  margin-left: 0;
}
.checkout-group-cc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.checkout-group-cc input {
  width: 17rem;
  border: none;
  border-bottom: 1px solid grey;
  margin-top: 15px;
  width: 25rem;
}
.checkout-group-cc input::placeholder {
  color: #999999;
  font-size: 13px;
  margin-left: 0;
}
.checkout-group-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.checkout-group-confirm button:last-child {
  width: 20%;
}
input:focus {
  outline: none;
}
.checkout-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 20px;
}
.checkout-label p {
  margin: 0;
}
.checkout-details p {
  margin: 0;
}
.checkout-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.checkout-buttons button {
  margin-right: 10px;
}
.checkout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
}
.checkout-modal-content {
  position: relative;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 600px;
  height: 600px;
}
.cartsummary-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cartsummary-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.cartsummary-labels {
  display: flex;
  flex-direction: column;
}
.cartsummary-label {
  font-weight: bold;
  margin-right: 10px;
}
.cartsummary-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cartsummary-detail {
  text-align: right;
}
.cartsummary-total {
  font-weight: bold;
}
.cartsummary-detail-total {
  margin-top: 10px;
  text-align: right;
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}
.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rating:not(:checked) > label {
  font-size: 20px;
  cursor: pointer;
  color: #ccc;
  overflow: hidden;
  white-space: nowrap;
}
.rating:not(:checked) > label:before {
  content: '★ ';
}
.rating > input:checked ~ label {
  color: #ffc700;
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.product-review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 7px;
}
.product-review h3 {
  margin: 5 0 5 0;
}
.product-review h5 {
  margin-bottom: 4px;
}
.product-review p {
  margin-bottom: 8px;
}
.product-review p:last-child {
  margin-bottom: 5px;
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.account-link {
  padding-top: 10px;
  padding-left: 10px;
  color: #0B0C10;
  text-decoration: underline;
}
.account-link:visited {
  color: #0B0C10;
}
.account-link:hover {
  color: #666;
}
.order-header {
  padding-top: 10px;
  padding-left: 10px;
}
.product-image {
  padding-top: 10px;
  padding-left: 10px;
}
.lineImg img {
  max-width: 450px;
  max-height: 600px;
}
.order-number {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 10px;
  color: #232504;
}
.review-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
}
.review-modal-content {
  position: relative;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 600px;
  height: 600px;
}
